{% extends 'common.html'%} {% load static %} {% block common %}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Products
                <small class="text-muted">PD Online Shop</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Nexa</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                <li class="breadcrumb-item active">Jquery DataTables</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <!-- <h2> BASIC EXAMPLE </h2> -->
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Product Name</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Bying Expense</th>
                                    <th>Selling Price</th>
                                    <th>Discount</th>
                                    <th>Discount Status</th>
                                    <th>Quantity</th>
                                    <th>Sold</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Category</th>
                                    <th>Product Name</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Bying Expense</th>
                                    <th>Selling Price</th>
                                    <th>Discount</th>
                                    <th>Discount Status</th>
                                    <th>Quantity</th>
                                    <th>Sold</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{object.category}}</td>
                                    <td>{{object.product}}</td>
                                    <td>{{object.product.description}}</td>
                                    <td>
                                        <img src="{{object.img.url}}" alt="variation image" id="variatin_image">
                                    </td>
                                    <td>{{object.quantity}}</td>
                                    <td>{{object.size}}</td>
                                    <td>{{object.color}}</td>
                                    <td>{{object.expensive_to_buy}}</td>
                                    <td>{{object.selling_price}}</td>
                                    <td>{{object.discount}} %</td>
                                    {% if object.is_discount %}
                                    <td> Available</td>
                                    {% else %}
                                    <td> N/A</td>
                                    {% endif %}
                                    <td>{{object.quantity}}</td>
                                    <td>{{object.sold}}</td>
                                    <td>
                                        <div class="row" id="action_btn">
                                            <a href="#" id="action_btns"> <i class="fas fa-info-circle"></i> </a>
                                            <a href="#" id="action_btns"> <i class="far fa-edit"></i> </a>
                                            <a href="{% url 'DeleteProduct' object.id %}" id="action_btns"> <i class="fas fa-trash"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock common %}