.container{
    margin-left: 260px;
    margin-top: 80px;
    color: white;
    max-width: 1000px;
    background-color: rgb(4, 112, 52);
    border-radius: 6px;
    overflow: hidden;
}

#name{
    text-align: center;
    margin: 50px;
    font-weight: bold;
    color: rgb(197, 214, 205);
    text-transform: uppercase;
}

#pp_image{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
#ppbtn{
    color: white;
    background-color: teal;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    border-style: none;
}
#img_upload{
    margin:10px;
}
form-btn{
    display: hidden;

}

#details{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    background-color: #3fae8f;
    padding: 20px;
    border-radius: 10px;
    
}
div label{
    font-weight: bold;
    color: white;
}